<!DOCTYPE html>
<html lang="eng">
<%- include('./../partials/head.ejs'); %>

<body>
    <main>
        <h1>Nerdy t-shirts</h1>
        <% if(userid){ %>
        <p class="id-message">Jouw id is: <%= userid %></p>
        <% } %>
        <section class="designs">
            <h2>Ontwerpen</h2>
            <% if(designs.length === 0){ %>
            <p>Je hebt nog geen ontwerpen</p>
            <a href="/<%=userid%>/create">Ontwerp een shirt</a>
            <% } %>

            <% if(designs.length > 0){ %>
            <ul>
                <% designs.forEach(design => { %>
                <li>
                    <article>
                        <h3><%= design.color %></h3>
                        <p class="text-description"><%= design.text %></p>
                        <form method="POST" action="/<%=userid%>/cart/add/<%= design.id %>">
                            <button class="cart-button">Cart</button>
                        </form>
                        <form method="POST" action="/<%=userid%>/designs/delete/<%= design.id %>">
                            <button class="remove-button">X</button>
                        </form>

                    </article>
                </li>
                <% }) %>
            </ul>
            <a class="plus-button" href="/<%=userid%>/create">+</a>
            <% } %>

        </section>
        <section class="cart">
            <h2>Winkelmand</h2>
            <% if(cart.length === 0){ %>
            <p>Je hebt nog geen producten</p>
            <% } %>

            <% if(cart.length > 0){ %>
            <ul>
                <% cart.forEach(design => { %>
                <li>
                    <article>
                        <h3><%= design.color %></h3>
                        <p class="text-description"><%= design.text %></p>
                        <form method="POST" action="<%=userid%>/cart/delete/<%= design.id %>">
                            <button class="remove-button">X</button>
                        </form>
                    </article>
                </li>
                <% }) %>
                <a href="<%=userid%>/order">Bestellen</a>
                <% } %>
            </ul>
        </section>
    </main>
    <script src="/scripts/script.js"></script>
</body>

</html>